@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");

* {
  margin: 0px;
  padding: 0px;
  /* border: 2px solid white; */
}
body {
  background-color: #000000;
}

nav {
  background-color: rgb(31, 15, 15);

  text-align: center;
  border-radius: 0 0 35px 35px;
  transition: ease-in-out 0.7s;
}
nav:hover {
  box-shadow: 0 0 48px #ffff;
}

nav h1 {
  /* padding-top: 11px; */
  color: white;
  font-family: "Kalam", cursive;
  text-decoration-thickness: 1px;
  font-size: 2rem;
}

.hero {
  height: 50vh;
  text-align: center;
}
.hero h1,
i {
  margin-top: 4rem;
  color: white;
  font-size: 3rem;
  font-family: "Petit Formal Script", cursive;
}
.hero2 {
  display: flex;
  /* width: 100vw; */
  min-height: 80vh;
  align-items: center;
  padding: 0 3rem;
  gap: 3rem;
}
.card {
  height: 60%;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 30rem;
  padding: 1rem 2rem;
  align-items: center;
}
.card:hover {
  box-shadow: 0 0 60px white;
}
img {
  object-fit: cover;
  height: 15rem;
  width: 15rem;
}
.intro {
  align-items: center;
  padding: 0px 14px;
  color: white;
  text-align: center;
  min-height: 100px;
  font-size: 24px;
  padding: 3rem 2rem;
  font-family: "Petit Formal Script", cursive;
}
footer {
  min-height: 150px;
  color: white;
  display: flex;
  justify-content: space-around;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  padding-top: 28px;
  background-color: rgb(31, 15, 15);
  box-shadow: 0;
  transition: box-shadow 0.7s;
}
footer:hover {
  box-shadow: 0 0 60px #e70000;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: red;
}
.social {
  font-size: 22px;
  padding: 5px 5px;
}

.social span:hover {
  color: red;
}
.contact {
  font-size: 22px;
}
.social .icons {
  font-size: 36px;
  margin: 29px;
}
@media (max-width: 500px) {
  .hero2 {
    /* display: flex; */
    flex-direction: column;
    padding: 0 3rem;
    align-items: center;
  }
  .card {
    width: 15rem;
  }
  footer {
    padding: 2rem 0;
    gap: 2rem;
    flex-direction: column-reverse;
    align-items: center;
  }
}
